<%-include ('./partials/header') %>

            <!-- One -->
            <section id="one" class="wrapper style2">
                <div class="inner">
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h2>Bibloteka</h2>
                                <hr>
                            </header>
                            <div id="flexgrid">
                                <div>
                                    <header>
                                        <h3>Libri 1</h3>
                                    </header>
                                    <div class="image fit2">
                                        <img src="https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" />
                                    </div>
                                    <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu</p>
                                    <ul class="actions">
                                        <li><a href="#" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>Libri 2</h3>
                                    </header>
                                    <div class="image fit2">
                                        <img src="https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" />
                                    </div>
                                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed </p>
                                    <ul class="actions">
                                        <li><a href="#" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>Libri 3</h3>
                                    </header>
                                    <div class="image fit2">
                                        <img src="https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" />
                                    </div>
                                    <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                                    <ul class="actions">
                                        <li><a href="#" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>

            <section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<blockqoute>“Give a man a program, frustrate him for a day.
                            Teach a man to program, frustrate him for a lifetime.”
                            ― Muhammad Waseem </blockqoute>
					
					</header>

				</div>
            </section>
      
            <section id="one" class="wrapper style2">
                <div class="inner">
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h4>Leksione Online</h4>
                                <h2>Programim</h2>
                                <hr>
                            </header>
                            <div id="flexgrid">
                                <div>
                                    <header>
                                        <h3>C++</h3>
                                    </header>
                                    <p>C++ është një qëllim të përgjithshëm gjuha programuese krijuar nga Bjarne Stroustrup si një zgjatje e gjuhës programuese C , ose "C me klasa ". Gjuha është zgjeruar ndjeshëm me kalimin e kohës, dhe C ++ moderne tani ka veçori objektive , gjenerike dhe funksionale përveç lehtësive për manipulim të nivelit të ulët të kujtesës .</p>
                                    <ul class="actions">
                                        <li><a href="https://www.w3schools.com/cpp/" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>C#</h3>
                                    </header>
                          
                                    <p>C#  është një gjuhë programimi me qëllime të përgjithshme, me shumë paradigmë, që përfshin një shkrim të fortë , leksikor , të domosdoshëm , deklarues , funksional , gjenerik , objekt të orientuara , dhe komponent të orientuar programimit disiplina. </p>
                                    <ul class="actions">
                                        <li><a href="https://www.w3schools.com/cs/" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>Bllokskema</h3>
                                    </header>
                                    <p>Bllokskemat jane bashkesi simbolesh gjeometrike qe sherbejne per ndertimin e algoritmit .</p>
                                    <ul class="actions">
                                        <li><a href="http://codeforstudents.com/index.php/en/cpp-4-1/" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                            </div>
                        <div class="content">
                            <header class="align-center">
                  
                                <h2>Network</h2>
                                <hr>
                            </header>
                            <div id="flexgrid">
                                <div>
                                    <header>
                                        <h3>IP</h3>
                                    </header>
                                    <p>Një adresë e Protokollit të Internetit ( adresa IP ) është një etiketë numerike e caktuar për secilën pajisje të lidhur në një rrjet kompjuterik që përdor Protokollin e Internetit për komunikim.  Një adresë IP shërben dy funksione kryesore: identifikimin e ndërfaqes së hostit ose të rrjetit dhe adresimin e vendndodhjes .</p>
                                    <ul class="actions">
                                        <li><a href="https://en.wikipedia.org/wiki/IP_address" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>Vlan</h3>
                                    </header>
                          
                                    <p>Një LAN virtual ( VLAN ) është çdo fushë transmetimi që është e ndarë dhe e izoluar në një rrjet kompjuterik në shtresën e lidhjes së të dhënave ( shtresa OSI 2 ). [1] [2] LAN është shkurtimi për rrjetin e zonës lokale dhe në këtë kontekst virtual i referohet një objekti fizik të rikrijuar dhe ndryshuar nga logjika shtesë. </p>
                                    <ul class="actions">
                                        <li><a href="https://en.wikipedia.org/wiki/Virtual_LAN" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>VPN</h3>
                                    </header>
                                    <p>Një rrjet privat virtual ( VPN ) shtrihet një rrjet privat në të gjithë një rrjet publik dhe u mundëson përdoruesve të dërgojnë dhe pranojnë të dhëna nëpër rrjete të përbashkëta ose publike, sikur pajisjet e tyre informatike të jenë të lidhura direkt me rrjetin privat. </p>
                                    <ul class="actions">
                                        <li><a href="https://en.wikipedia.org/wiki/Virtual_private_network" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                            </div>
                        <div class="content">
                            <header class="align-center">
                          
                                <h2>Database</h2>
                                <hr>
                            </header>
                            <div id="flexgrid">
                                <div>
                                    <header>
                                        <h3>SQL</h3>
                                    </header>
                                    <p>SQL (Structured Query Language) është një gjuhë kompjuterike e projektuar për menaxhimin e të dhënave në sistemet e menaxhimit të bazës së të dhënave relative (Relational data base management system), dhe fillimisht e bazuar mbi algjebrën relative. Disa RDBMS që përdorin SQL janë Oracle, Sybase, Microsoft SQL Server, Access, Ingres, etc. SQL përmban disa bashkësi komandash qe mund te klasifikohen si nen-gjuhe programimi (sublanguage) :</p>
                                    <ul class="actions">
                                        <li><a href="https://sq.wikipedia.org/wiki/SQL" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>MySQL</h3>
                                    </header>
                          
                                    <p>MySQL , Eshte (Sipas Korrik 2013 ) i përdorur gjerësisht sistemi i menaxhimit të bazës së të dhënave relacionale me burim të hapur (RDBMS). Emërtohet sipas vajzës së bashkëthemeluesit Michael Widenius , MySQL fraza qëndron për Gjuhën e Strukturuar të Kërkimit .  </p>
                                    <ul class="actions">
                                        <li><a href="https://sq.wikipedia.org/wiki/MySQL" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <header>
                                        <h3>PLSql</h3>
                                    </header>
                                    <p>PL / SQL është një kombinim i SQL së bashku me veçoritë procedurale të gjuhëve programuese. Ajo u zhvillua nga Oracle Corporation në fillim të viteve 90 për të rritur aftësitë e SQL. PL / SQL është një nga tre gjuhët kryesore të programimit të përfshira në bazën e të dhënave Oracle, së bashku me vetë SQL dhe Java. Ky tutorial do t'ju japë mirëkuptim të madh në PL / SQL për të vazhduar me bazën e të dhënave Oracle dhe konceptet e tjera të përparuara RDBMS.</p>
                                    <ul class="actions">
                                        <li><a href="https://www.tutorialspoint.com/plsql/index.htm" class="button alt">Per me shume</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>

<footer id="footer" class="wrapper">
    <div class="inner">
        <div class="copyright">
        &copy; Shkolla.
        </div>
    </div>
</footer>
<%-include ('./partials/footer') %>