<%-include ('./partials/header') %>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="image fit">
							<img src="/pic01.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>Studioni ne Hermann</h2>
								
							</header>
							<hr />
							<p>
							<li>	Sepse fusha e programimit është një nga fushat e cila po zhvillohet me hapa të shpejtë duke rritur nevojën për programues.</li>
							
							<li>	Tregu në Shqipëri ka kërkesa të larta për programues.</li>
							
							<li>	Teknologjitë dhe platoformat më moderne ndodhen në Hermann Gmeiner.</li>
							
							<li>	Bashkëpunimi me binzeset që nxënësit të kryejnë praktikat profesionale në ambjentet e tyre.</li>
							
							<li>	Stafi mësimdhënës i përbërë nga specialistë me përvojë për lëndët profesionale.</li>
							</p>
							
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Mesazh nga drejtuesit</h2>
						<blockquote style="text-align: left !important;">Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</blockquote>
					</header>

				</div>
			</section>
		
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>Kriteret e pranimit </h2>
								
							</header>
							<hr />
							<p>Që të studiojnë në shkollën 'Hermann Gmeiner' nxënësit duhet të kenë mesatare minimale, në të gjitha lëndët, 9.5. Njohuri te mira të gjuhës angleze dhe aftësi ne lëndët shkencore kryesisht matematik dhe fizik. Gjithashtu nxënësit duhet të kenë dëshirë për të mësuar dhe vullnet për të punuar </p>
							
						</div>
						<div class="content">
							<header class="align-center">
								<h2>Orari Mesimor </h2>
								
							</header>
							<hr />
							<h4>Viti Mesimor 2019-2020</h4>
							<h5>E Hene</h5>
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr><th>Ora</th><th>Kl.10A</th><th>Kl.10B</th><th>Kl.11A</th><th>Kl.11B</th><th>Kl.12A</th><th>Kl.12B</th><th>Kl.13A</th><th>Kl.13B</th></tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Anglisht</td>
											<td>Histori</td>
											<td>Network/CP</td>
											<td>Matematik</td>
											<td>Programim</td>
											<td>Ekonomi</td>
											<td>Gjermanisht</td>
											<td>Ekonomi</td>
										</tr>
										<tr>
											<td>2</td>
											<td>Database</td>
											<td>Anglisht</td>
											<td>Network/CP</td>
											<td>SY</td>
											<td>Programim</td>
											<td>Matematik</td>
											<td>Gjeografi</td>
											<td>Ekonomi</td>
										</tr>
										<tr>
											<td>3</td>
											<td>Kimi</td>
											<td>Matematik</td><td>Database/CP</td>
											<td>SY</td>
											<td>Programim</td>
											<td>Gjermanisht</td>
											<td>Ekonomi</td>
											<td>SY</td>
										</tr>

										<tr>
											<td>4</td>
											<td>Matematik</td>
											<td>Programim/Rrjeta</td>
											<td>CP/Database</td>
											<td>Kimi</td>
											<td>SY</td>
											<td>Rrjeta</td>
											<td>Ekonomi</td>
											<td>SY</td>
										</tr>
										<tr>
											<td>5</td>
											<td>Qytetari</td>
											<td>Fizik</td>
											<td>Network/CP</td>
											<td>Programim</td>
											<td>Gjermanisht</td>
											<td>Anglisht</td>
											<td>SY/Database</td>
											<td>Rrjeta</td>										
										</tr>
										<tr>
											<td>6</td>
											<td>Gjermanisht</td>
											<td>Database</td>
											<td>CP/Network</td>
											<td>Fizik</td>
											<td>Biologji</td>
											<td>Gjuhe shqipe</td>
											<td>SY/Database</td>
											<td>Programim</td>
										</tr>
										<tr>
											<td>7</td>
											<td>Gjuhe shqipe</td>
											<td>Programim/Network</td>
											<td>Anglisht</td>
											<td>Histori</td>
											<td>Rrjeta</td>
											<td>Ed. fizike</td>
											<td>Database/SY</td>
											<td>Programim</td>
										</tr>
										<tr>
											<td>8</td>
											<td>Ed. fizike</td>
											<td>Programim/Network</td>
											<td>Kimi</td>
											<td>---</td>
											<td>---</td>
											<td>Histori</td>
											<td>Database/SY</td>
											<td>---</td>
										</tr>
									</tbody>
								</table>
							</div>
							<h5>E Marte</h5>
                            <div class="table-wrapper">
                                <table class="alt">
                                    <thead>
										<tr>
											<th>Ora</th>
											<th>Kl.10A</th>
											<th>Kl.10B</th>
											<th>Kl.11A</th>
											<th>Kl.11B</th>
											<th>Kl.12A</th>
											<th>Kl.12B</th>
											<th>Kl.13A</th>
											<th>Kl.13B</th>
										</tr>
                                    </thead>
                                    <tbody>
                                        <tr>
											<td>1</td>
											<td>CP/Database</td>
											<td>Gjermanisht</td>
											<td>Matematike</td>
											<td>Fizik</td>
											<td>SY</td>
											<td>Database</td>
											<td>Programim</td>
											<td>Ekonomi</td>
										</tr>
                                        <tr>
											<td>2</td>
											<td>CP/Database</td>
											<td>Anglisht</td>
											<td>Rrjeta</td>
											<td>Ekonomi</td>
											<td>SY</td>
											<td>Database</td>
											<td>Programim</td>
											<td>Ekonomi</td>
										</tr>
                                        <tr>
											<td>3</td>
											<td>Database/CP</td>
											<td>Programim</td>
											<td>SY</td>
											<td>Matematike</td>
											<td>Anglisht</td>
											<td>Ekonomi</td>
											<td>Programim</td>
											<td>Database</td>
										</tr>
                                        <tr>
											<td>4</td>
											<td>Database/CP</td>
											<td>Programim</td>
											<td>Gjermanisht</td>
											<td>Rrjeta</td>
											<td>Matematike</td>
											<td>Programim</td>
											<td>Gjuhe shqipe</td>
											<td>Database</td>
										</tr>
                                        <tr>
											<td>5</td>
											<td>Matematike</td>
											<td>CP</td>
											<td>Fizike</td>
											<td>Anglisht</td>
											<td>Histori</td>
											<td>Programim</td>
											<td>Rrjeta/SY</td>
											<td>Gjuhe shqipe</td>
										</tr>
                                        <tr>
											<td>6</td>
											<td>Gjermanisht</td>
											<td>Gjuhe shqipe</td>
											<td>Anglisht</td>
											<td>Gjermanisht</td>
											<td>Fizik</td>
											<td>Programim</td>
											<td>Rrjeta/SY</td>
											<td>Matematike</td>
										</tr>
                                        <tr>
											<td>7</td>
											<td>Anglisht</td>
											<td>Fizik</td>
											<td>Rrjeta</td>
											<td>Gjermanisht</td>
											<td>Programim</td>
											<td>Matematike</td>
											<td>SY/Rrjeta</td>
											<td>Gjeografi</td>
										</tr>
                                        <tr>
											<td>8</td>
											<td>Fizik</td>
											<td>---</td>
											<td>---</td>
											<td>---</td>
											<td>---</td>
											<td>Anglisht</td>
											<td>SY/Rrjeta</td>
											<td>---</td>
										</tr>
                                    </tbody>
                                </table>
							</div>

			<h5>E Merkure</h5>
                            <div class="table-wrapper">
                                <table class="alt">
                                    <thead>
                                        <tr>
                                            <th>Ora</th>
                                            <th>Kl.10A</th>
                                            <th>Kl.10B</th>
                                            <th>Kl.11A</th>
                                            <th>Kl.11B</th>
                                            <th>Kl.12A</th>
                                            <th>Kl.12B</th>
                                            <th>Kl.13A</th>
                                            <th>Kl.13B</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Programim/Rrjeta</td>
                                            <td>Anglisht</td>
                                            <td>Histori</td>
                                            <td>Gjermanisht</td>
                                            <td>Programim</td>
                                            <td>Ekonomi</td>
                                            <td>Ekonomi</td>
                                            <td>SY/Database</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Programim/Rrjeta</td>
                                            <td>Ekonomi</td>
                                            <td>Gjermanisht</td>
                                            <td>Gjeografi</td>
                                            <td>Programim</td>
                                            <td>Matematike</td>
                                            <td>Ekonomi</td>
                                            <td>SY/Database</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Programim/Rrjeta</td>
                                            <td>Matematike</td>
                                            <td>SY</td>
                                            <td>Database</td>
                                            <td>Gjuhe shqipe</td>
                                            <td>Edukim karriere</td>
                                            <td>Rrjeta</td>
                                            <td>Database/SY</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Rrjeta</td>
                                            <td>Letersi</td>
                                            <td>SY</td>
                                            <td>Database</td>
                                            <td>Ekonomi</td>
                                            <td>Edukim karriere</td>
                                            <td>Anglisht</td>
                                            <td>Database/SY</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>????</td>
                                            <td>Programim</td>
                                            <td>Fizik</td>
                                            <td>SY</td>
                                            <td>Anglisht</td>
                                            <td>Rrjeta/DB</td>
                                            <td>Matematike</td>
                                            <td>Gjermanisht</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>????</td>
                                            <td>Gjermanisht</td>
                                            <td>Programim</td>
                                            <td>Matematike</td>
                                            <td>Ekonomi</td>
                                            <td>Rrjeta/DB</td>
                                            <td>Gjeografi</td>
                                            <td>Letersi</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>CP</td>
                                            <td>Ed. fizike</td>
                                            <td>Programim</td>
                                            <td>anglisht</td>
                                            <td>SY/???</td>
                                            <td>Rrjeta/Database</td>
                                            <td>Gjermanisht</td>
                                            <td>Matematike</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>Fizik</td>
                                            <td>SY/SY</td>
                                            <td>Rrjeta/Database</td>
                                            <td>Programim</td>
                                            <td>Ed fizik</td>
                                        </tr>
                                    </tbody>
                                
								</table>
								</div>










<h5>E Enjte</h5>
                            <div class="table-wrapper">
                                <table class="alt">
                                    <thead>
                                        <tr>
                                            <th>Ora</th>
                                            <th>Kl.10A</th>
                                            <th>Kl.10B</th>
                                            <th>Kl.11A</th>
                                            <th>Kl.11B</th>
                                            <th>Kl.12A</th>
                                            <th>Kl.12B</th>
                                            <th>Kl.13A</th>
                                            <th>Kl.13B</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Programim</td>
                                            <td>Ekonomi</td>
                                            <td>Database</td>
                                            <td>Rrjeta/CP</td>
                                            <td>Histori</td>
                                            <td>Biologji</td>
                                            <td>Database</td>
                                            <td>Programim</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Programim</td>
                                            <td>Ekonomi</td>
                                            <td>Database</td>
                                            <td>Rrjeta/CP</td>
                                            <td>Anglisht</td>
                                            <td>SY</td>
                                            <td>Database</td>
                                            <td>Programim</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Anglisht</td>
                                            <td>Kimi</td>
                                            <td>Ekonomi</td>
                                            <td>Database/CP</td>
                                            <td>Database</td>
                                            <td>Histori</td>
                                            <td>Matematike</td>
                                            <td>Programim</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Histori</td>
                                            <td>Rrjeta</td>
                                            <td>Matematike</td>
                                            <td>CP/Database</td>
                                            <td>Databse</td>
                                            <td>Programim</td>
                                            <td>Rrjeta</td>
                                            <td>Gjermanisht</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Fizik</td>
                                            <td>Anglisht</td>
                                            <td>Programim</td>
                                            <td>CP/Rrjeta</td>
                                            <td>Matematike</td>
                                            <td>Programim</td>
                                            <td>SY</td>
                                            <td>Gjeografi</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Letersi</td>
                                            <td>Matematike</td>
                                            <td>Programim</td>
                                            <td>CP/Rrjeta</td>
                                            <td>Gjermanisht</td>
                                            <td>Ekonomi</td>
                                            <td>SY</td>
                                            <td>Anglisht</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>---</td>
                                            <td>Gjermanisht</td>
                                            <td>Programim</td>
                                            <td>Ed. fizike</td>
                                            <td>Letersi</td>
                                            <td>SY</td>
                                            <td>Biologji</td>
                                            <td>Rrjeta/SY</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>Gjeografi</td>
                                            <td>Ed. fizike</td>
                                            <td>SY</td>
                                            <td>---</td>
                                            <td>Rrjeta/SY</td>
                                        </tr>
                                    </tbody>
                                
                                </table>

</div>









<h5>E Premte</h5>
                            <div class="table-wrapper">
                                <table class="alt">
                                    <thead>
                                        <tr>
                                            <th>Ora</th>
                                            <th>Kl.10A</th>
                                            <th>Kl.10B</th>
                                            <th>Kl.11A</th>
                                            <th>Kl.11B</th>
                                            <th>Kl.12A</th>
                                            <th>Kl.12B</th>
                                            <th>Kl.13A</th>
                                            <th>Kl.13B</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Gjermanisht</td>
                                            <td>Rrjeta</td>
                                            <td>Ekonomi</td>
                                            <td>Programim</td>
                                            <td>Biologji</td>
                                            <td>Anglisht</td>
                                            <td>Matematike</td>
                                            <td>Matematike</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Matematik</td>
                                            <td>Rrjeta</td>
                                            <td>Ekonomi</td>
                                            <td>Programim</td>
                                            <td>Edukim karriere</td>
                                            <td>Programim</td>
                                            <td>Anglisht</td>
                                            <td>SY/Rrjeta</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Anglisht</td>
                                            <td>Gjermanisht</td>
                                            <td>Kimi</td>
                                            <td>Programim</td>
                                            <td>Edukim karriere</td>
                                            <td>SY</td>
                                            <td>Programim</td>
                                            <td>SY/Rrjeta</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Gjermanisht</td>
                                            <td>CP/Database</td>
                                            <td>Histori</td>
                                            <td>Letersi</td>
                                            <td>Matematike</td>
                                            <td>SY</td>
                                            <td>Programim</td>
                                            <td>Anglisht</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Rrjeta</td>
                                            <td>CP/Database</td>
                                            <td>Matematik</td>
                                            <td>Anglisht</td>
                                            <td>Database/Rrjeta</td>
                                            <td>Gjermanisht</td>
                                            <td>SY</td>
                                            <td>Biologji</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Rrjeta</td>
                                            <td>Database/CP</td>
                                            <td>Matematike</td>
                                            <td>Anglisht</td>
                                            <td>Database/Rrjeta</td>
                                            <td>Letersi</td>
                                            <td>SY</td>
                                            <td>Programim</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Programim</td>
                                            <td>Database/CP</td>
                                            <td>Anglisht</td>
                                            <td>Kimi</td>
                                            <td>Rrjeta/Database</td>
                                            <td>SY</td>
                                            <td>Ed.fizike</td>
                                            <td>SY</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>---</td>
                                            <td>---</td>
                                            <td>Ed. fizike</td>
                                            <td>---</td>
                                            <td>Rrjeta/Database</td>
                                            <td>SY</td>
                                            <td>---</td>
                                            <td>SY</td>
                                        </tr>
                                    </tbody>
                                
								</table>
								</div>

								
							</div>

					</div>
							
						</div>
					</div>
			
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
				
					<div class="copyright">
						&copy; Shkolla.
					</div>
				</div>
			</footer>


			<%-include ('./partials/footer') %>